.emailForm {
  display: flex;
  justify-content: center;
}

.mainBody {
  text-align: center;
  margin-top: 9rem;
}

.sendMail {
  margin-left: 20px;
}

.btn-home {
  margin: 20px auto !important;
}

@media only screen and (max-width: 767px) {
  .emailForm {
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
  }

  .sendMail {
    margin-left: 0;
    margin-top: 20px;
  }
}

.error-msg {
  text-align: left;
  margin: 2px 0px;
  color: #9f3a38;
  font-weight: 500;
}
