.emailForm{
    text-align: center;
    margin-top: 9rem;
    margin-bottom: 3rem;
}
.mainBody{
    text-align: center;
    margin-top: 9rem;
}

.sendMail{
    margin-left: 3vw;
    margin-bottom: 3rem;
}