@media only screen and (max-width: 600px) {
    .login-parent {
        width: 80% !important;
    }
    .loginSubmit {
        width: 100% !important;
    }
  }

.login-grand-parent{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.login-parent{
    margin-top: 5em;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.login-oauth-icon {
    display: flex;
    justify-content: space-evenly;
}

.login-oauth-icon div {
    max-width: 15vw;
}

.login-icons {
    width: 45px;
}

.loginField{
    width: 100%;
}
.login-form-label{
    margin: 1em 0 !important;
}
.forgotPassword{
    padding: 1em 0;
}
.loginSubmit{
    background-color:#00A89F !important;
    color: white !important; 
}
.login-create-account{
    padding: 1em 0;
}