.icon-button {
  cursor: pointer;
}
.chatroom-divider {
  margin-top: 0 !important;
}
.ui.button.dropdown .menu {
  min-width: max-content;
}
.messages-container {
  height: 55vh;
  width: 100% !important;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}
.message-item {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  width: fit-content;
  max-width: 50%;
}
.message-item small {
  opacity: 0.5;
}
.message-item em {
  color: #000;
  text-align: end;
}
.message-item p {
  margin-bottom: 5px;
}
.own-message {
  align-self: flex-end;
}
.message-item section{
  padding:5px 30px 5px 12px;
  border-radius: 10px;
}
.own-message section{
  background-color: #2185d0;
  color: #fff;
  border-bottom-right-radius: 0px;
}
.other-message section{
  background-color: #c6c6c680;
  color: black;
  border-bottom-left-radius: 0px;
}
.tag {
  background-color: white;
  color: black;
  padding: 0px 5px 0px 5px;
  border-radius: 2px;
  opacity: 0.6;
}
.issue-link {
  color: black !important;
}
.no-messages-banner {
  display: flex;
  height: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
