.icon-button {
  cursor: pointer;
}
.chatroom-divider {
  margin-top: 0 !important;
}
.ui.button.dropdown .menu {
  min-width: max-content;
}
.messages-container {
  height: 55vh;
  width: 100% !important;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}
.message-item {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  width: fit-content;
  max-width: 50%;
}
.message-item small {
  opacity: 0.5;
}
.message-item em {
  color: #000;
  text-align: end;
}
.message-item p {
  margin-bottom: 5px;
}
.own-message {
  align-self: flex-end;
}
.message-item section{
  padding:5px 30px 5px 12px;
  border-radius: 10px;
}
.own-message section{
  background-color: #2185d0;
  color: #fff;
  border-bottom-right-radius: 0px;
}
.own-message i{
  color: rgb(199 206 196);
}
.other-message section{
  background-color: #c6c6c680;
  color: black;
  border-bottom-left-radius: 0px;
}
.other-message i{
  color: rgb(31 121 189);
}
.tag {
  background-color: white;
  color: black;
  padding: 0px 5px 0px 5px;
  border-radius: 2px;
  opacity: 0.6;
}
.issue-link {
  color: black !important;
}
.no-messages-banner {
  display: flex;
  height: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.comments-textarea__input{
  background-color: #fff;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
  padding: 9px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  border: 1px solid #dedede;
  width: 100%;
}
.comments-textarea__control {
  width: 100%;
}
.comments-textarea__input:focus{
  outline: none;
  border: 1px solid #3fb9de;
}
.comments-textarea__input::placeholder{
  color: #a4b0be;
  font-size: 14px;
}
.comments-textarea__highlighter{
  padding: 10px;
}
.comments-textarea__suggestions__list {
  background-color: #fff;
  border: 1px solid rgba(120, 160, 235, 0.644);
  font-size: 14px;
  max-height: 200px;
  overflow: auto;
}
.comments-textarea__suggestions__item {
  padding: 5px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.comments-textarea__suggestions__item:hover {
  background-color: rgba(85, 155, 248, 0.4);
}
.message-input {
  width: 100%;
  display: flex;
}
.message {
  width: 100%;
}


