.image-parent {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.image-parent img {
  padding: 0 1em !important;
}
.image-file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  margin: 10px;
}
.flex {
  display: flex;
}
.image-table-body {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.max-size-error {
  color: red;
}
.custom-margin {
  margin-bottom: 1rem !important;
}
.image-table-container {
  width: 100%;
  padding-right: 20px;
}
.image-table {
  display: flex;
  flex-direction: column;
  height: 30em;
  margin-right: 200px;
  background-color: red;
}
