.project-main {
  display: flex;
}
.project-non-side-section {
  width: 100%;
  margin-right: unset !important;
  margin-top: 4em;
}

@media only screen and (max-width: 767px) {
  .project-main {
    margin: 0 !important;
  }

  .project-non-side-section {
    padding: 10px;
    max-width: unset !important;
    width: 100% !important;
    margin-right: unset !important;
    min-height: 50%;
  }
}
