.project-main {
  display: flex;
  flex-direction: row;
}

.project-non-side-section {
  width: 100%;
  margin-right: unset !important;
  margin-top: 4em;
}

@media only screen and (max-width: 767px) {
  .project-main {
    margin: 0 !important;
    flex-direction: column;
  }

  .project-non-side-section {
    padding: 10px;
    max-width: unset !important;
    width: 100% !important;
    margin-right: auto;
    min-height: 50%;
  }
}

.labelDropdown {
  margin-left: 25vw;
}
