.issue-status-label {
    width: 100%
}
.center {
    text-align: center !important;
}
.left {
    text-align: left !important;
}
.user-icon {
    font-size: 2.4em !important;
    color: grey;
    margin-top: 0.5rem !important;
}
.issue-header {
    text-align: left !important;
    cursor: pointer;
}
.issue-item {
    text-align: center !important;
}
.issue-activity {
    color: black !important;
}
.comment-section {
    height: 30vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}
.activity-section {
    height: 30vh;
    overflow-y: scroll;
}
.detail-header {
    margin-bottom: 0.5em !important;
}
.ui.header:last-child {
    margin-top: 0;
}