.form-card-parent {
  margin-top: 0.7em;
  padding: 1em;
  border: solid 1px #efefef;
  background: white;
  box-shadow: rgb(204, 204, 204) 0px 1px 2px;
}
.flex {
  display: flex;
}
.form-card-child {
  flex: 1;
  padding: 0 0.5em;
}
.form-button-parent {
  flex: 0 0 auto;
}
.form-button-itself {
  background: transparent;
  padding: 0;
}
.form-card-child-field {
  padding: 3;
  font-size: 24;
}
@media only screen and (max-width: 892px){
  .form-button-parent{
    flex: auto;;
  }
  .ui.button.form-button-itself{
    margin-bottom: 2.9em;
  }
}
@media only screen and (max-width: 645px){
 
  .form-card-parent{
    width: 322px;
    margin-left: -4em;
  }
}