.projectDesc-parent {
  padding: 0.5em 0.5em 2em 0.5em;
}
.projectDesc-header {
  display: flex;
}
.projectDesc-header .pencil {
  padding-left: 1em !important;
  color: black !important;
}
.projectDesc-header .pencil:hover {
  cursor: pointer;
}
.projectDesc-labeller-button {
  margin: 1em 0;
}
.projectDesc-labeller-button button {
  background-color: #00a89f !important;
  color: white !important;
}
.projectDesc-submit{
  background-color: #00a89f !important;
  color: white !important;
  margin-top: 1em !important; 
}