.projectDesc-parent {
  padding: 2.5em 0.5em 2em 0.5em;
  margin: 1em;
  width: 80%;
}

.projectDesc-header {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em 0em 1em;
}
.projectDesc-header .pencil {
  color: black !important;
}
.projectDesc-header .pencil:hover {
  cursor: pointer;
}

.modal-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-actions > div {
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

@media only screen and (max-width: 1550px) {
  div.project-non-side-section {
    margin-right: 10rem;
    margin-left: 5rem;
    max-width: 60%;
  }
  div.sidebar-parent {
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 1023px) {
  div.project-non-side-section {
    max-width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  button.ui.negative.button.delete-project-button {
    margin: 2rem;
    padding-right: 4.5rem;
  }
  div.project-non-side-section {
    height: 30px;
    margin-left: auto;
  }
  div.project-main {
    margin-left: 30%;
  }
  div.ui.container {
    margin-left: 0px;
  }
}
