.add-member-button {
  padding: 2em 0;
}
.add-member {
  color: white !important;
}
.team-remove-user-icon:hover {
  cursor: pointer;
}

.ui.container {
  margin-left: unset !important;
}

@media only screen and (max-width: 767px) {
  .ui.container {
    width: 100% !important;
  }
}
