.navbar {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  z-index: 3;
  justify-content: space-between;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.navbar ul li {
  padding: 10px;
  text-align: center;
}

.navbar ul a {
  display: flex;
  align-items: center;
}

.navbar .main-nav-title {
  float: left;
  display: block;
  justify-content: space-around;
  padding: 20px 20px;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #000000;
  display: inline;
}

.navbar .dropdown-menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.navbar .menu-icon {
  padding: 28px 20px;
  position: relative;
  cursor: pointer;
  float: right;
}

.navbar .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}

.project-nav-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 0 1em;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .menu-icon .nav-icon:before {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}

.navbar .menu-icon .nav-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked ~ .dropdown-menu {
  max-height: 240px;
}

.navbar .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.navbar .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

.navbar .menu-btn:checked ~ ul {
  overflow: visible;
}

.navbar .subnavbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .subnavbar .username {
  margin: 0;
}

.navbar .subnavbar .profilepic {
  margin: 0 2em;
}

.navbar .subnavbar .dropdown {
  display: none;
}

@media (min-width: 768px) {
  .navbar {
    width: 100%;
    height: 6em;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    align-items: center;
    position: relative;
  }

  .navbar .subnavbar .dropdown {
    display: flex;
  }

  .main-nav-title {
    display: flex;
    width: 5%;
  }

  .dropdown-menu {
    display: flex;
    width: 95%;
    align-items: center;
  }

  .searchBar {
    display: flex;
    width: 90%;
  }

  .subnavbar {
    display: flex;
    width: 10%;
  }

  .logout {
    font-size: 0 !important;
  }

  .navbar ul {
    display: flex;
    overflow: visible;
  }

  .searchBar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 0 6em;
  }
  .navbar-title {
    width: 15%;
  }
  .main-nav-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 0 1em;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    color: #000000;
  }

  .subnavbar {
    display: flex;
    width: 50%;
  }
  .subnavbar ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0 3em 0 0;
  }
  .subnavbar ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    padding: 0 0.5em;
  }

  .subnavbar ul li a {
    text-decoration: none;
    color: #000000;
  }

  .profilepic {
    position: absolute;
    margin-left: 1830px;
    margin-top: 25px;
    width: 46px;
    height: 46px;
    background-color: #666666;
  }
  .create-button {
    background-color: #00a89f !important;
    color: white !important;
  }

  .menu-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .searchBar {
    width: 100%;
  }

  .navbar ul li {
    padding: 10px 20px 10px 20px;
    text-align: left;
  }

  .ui.input {
    width: 100%;
  }

  .navbar .subnavbar {
    display: flex;
    justify-content: left;
    align-items: left;
  }
}