.searchbar-parent {
  width: 340px;
  height: 46px;
  border-radius: 5px;
}

@media only screen and (min-width: 600px) {
  .searchbar-parent {
    position: absolute;
    margin-left: 184px;
  }
}

.size {
  /* font-size: 1.1em !important; */
}
