.preprocessing-card {
  text-align: left;
}

.preprocessing-card-header-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -1em;
}

.preprocessing-card-header {
  width: 100%;
  text-align: center;
}

.preprocessing-card-add-btn {
  margin-top: -1em;
  margin-left: auto;
}

.preprocessing-card-bottom-row {
  margin-top: -1em;
}

.preprocessing-step-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  width: 18em;
}

.preprocessing-steps-modal {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.preprocessing-step-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em;
  flex-wrap: wrap;
}

.preprocessing-step-label {
  display: inline-block;
  margin-top: 0.4em;
  margin-right: 0.4em;
}

.step-delete-icon {
  cursor: pointer;
  padding-left: 0.2em;
}

.step-edit-icon {
  cursor: pointer;
  padding-left: 0.5em;
}
