.dashboard-parent {
  height: 100% !important;
  width: 100%;
  background: #e5e5e5;
  min-height: 100vh !important;
}
.create-project-button {
  padding: 2em 0;
}

.modal-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-actions > div {
  padding-top: 1.5em;
}

.modal-actions:last-child {
  display: block;
  text-align: center;
  padding-bottom: 1.5em;
}

/* Added padding for the mobile view between the title and the card */
@media only screen and (max-width: 768px) {
  .mobile-padding {
    padding-bottom: 10px !important;
  }

  .create-button {
    width: 100%;
    background-color: #00a89f !important;
    color: white !important;
  }
}
