.profile-form-button-parent {
  margin: 1em 0;
}

.modal-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-actions > div {
  padding-bottom: 1em;
  padding-top: 1em;
}

.user-card {
  display: flex;
}

.user-card-header {
  padding-top: 0.5em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.user-details {
  text-align: center;
}

.user-detail {
  padding-bottom: 0.9em;
  padding-top: 0.9em;
  display: block;
}
