.profile-first {
  display: flex;
  width: 100%;
}
.profile-image-change-button {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}
.profile-first-leftbar {
  width: 30%;
  padding: 1em;
}
.profile-first-rightbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 80%;
  padding-top: 1em;
  padding-bottom: 1em;
}
.profile-rightbar-child {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
}
.project-second {
  display: flex;
  margin-top: 2em;
}
.project-second-leftbar {
  width: 30%;
  padding: 1em;
}
.project-second-rightbar {
  width: 70%;
  padding: 1em;
}
.profile-file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  margin: 10px;
}
.profile-edit-button {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}
.image_size_error {
  color: red;
  font-size: 12px;
  text-align: center;
  margin-top: 1rem;
}

.project-card {
  display: flex;
}

.project-card-header {
  padding-top: 0.5em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.project-details {
  text-align: center;
}

.project-detail {
  padding-bottom: 0.4em;
  display: block;
}

@media only screen and (max-width: 993px) {
  .project-second-rightbar {
    width: 70%;
    padding: 1em;
    margin-left: 2vw;
  }

  .profile-first-rightbar {
    flex-direction: column;
  }
}

@media only screen and (max-width: 761px) {
  .project-second-rightbar {
    width: 70%;
    padding: 1em;
    margin-left: 2vw;
  }
  .ui.vertical.menu {
    width: 11rem;
  }
}
@media only screen and (max-width: 521px) {
  .project-second-rightbar {
    width: 70%;
    padding: 1em;
    margin-left: 4vw;
  }
  .ui.vertical.menu {
    width: 10rem;
  }
}
@media only screen and (max-width: 500px) {
  .project-second-rightbar {
    width: 70%;
    padding: 1em;
    margin-left: 4vw;
  }
  .ui.vertical.menu {
    width: 10rem;
  }
  .ui.three.cards > .card {
    width: 21vw;
    margin-left: 1em;
    margin-right: 1em;
    height: 7.6rem;
    font-size: 14px;
  }
  .item {
    height: 2.5rem;
  }
  .ui.vertical.menu {
    width: 6rem;
    height: 7.8rem;
    font-size: 11px;
  }
  .project-second-leftbar {
    width: 30%;
    padding: 1em;
  }
}
@media only screen and (max-width: 263px) {
  .ui.three.cards > .card {
    width: 26vw;
    margin-left: 0.7em;
    margin-right: 1em;
    height: 7.6rem;
    font-size: 10px;
  }
  .project-second-rightbar {
    width: 70%;
    padding: 1em;
    margin-left: 8vw;
    margin-top: 0.4rem;
  }
}
