.profile-first {
  display: flex;
  width: 100%;
}
.profile-image-change-button {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}
.profile-first-leftbar {
  width: 30%;
  padding: 1em;
}
.profile-first-rightbar {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1em;
}
.profile-rightbar-child {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
}
.project-second {
  display: flex;
  margin-top: 2em;
}
.project-second-leftbar {
  width: 30%;
  padding: 1em;
}
.project-second-rightbar {
  width: 70%;
  padding: 1em;
}
.profile-file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  margin: 10px;
}
.profile-edit-button{
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}